<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turovetsnikita.belrwclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ticket_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DirectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turovetsnikita.belrwclient.DirectionActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turovetsnikita.belrwclient.TrainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turovetsnikita.belrwclient.DirectionActivity" />
        </activity>
        <activity
            android:name=".ScoreboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turovetsnikita.belrwclient.DirectionActivity" />
        </activity>
        <activity
            android:name=".PassengersActivity"
            android:label="@string/title_activity_passengers"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turovetsnikita.belrwclient.DetailsActivity" />
        </activity>
        <activity
            android:name=".StationsActivity"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name=".RegActivity"></activity>
    </application>

</manifest>